/*-------------------------BASE-------------------------*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
p,
span {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	color: #000;
	font-size: 18px;
	line-height: 27px;
}

/*-------------------------GENERAL-------------------------*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 72px;
}
@media (max-width: 1200px) {
	.container {
		padding: 0 35px;
	}
}

@media (max-width: 992px) {
	.container {
		padding: 0 15px;
	}
}
.btn {
	display: inline-block;
	position: relative;
	background-color: #fff;
	color: #023a15;
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	padding: 14px 16px 14px 48px;
}
@media (max-width: 767px) {
	.btn {
		display: inline-block;
		position: relative;
		background-color: #fff;
		color: #023a15;
		border-radius: 4px;
		font-size: 16px;
		line-height: 24px;
		padding: 10px 12px 10px 40px;
	}
}

.btn::before {
	content: "";
	display: block;
	position: absolute;
	transform: translate(-33px, 2px);
	background-image: url(../img/icon/btn-img.png);
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.title {
	font-family: "GT Super Display Super", serif;
	font-weight: 900;
	font-size: 110px;
	line-height: 1;
	color: #fff;
}
@media (max-width: 1200px) {
	.title {
		font-size: 50px;
	}
}
@media (max-width: 992px) {
	.title {
		font-size: 30px;
	}
}
@media (max-width: 767px) {
	.title {
		font-size: 24px;
	}
}

.text {
	font-size: 12px;
	line-height: 13px;
	color: #fff;
}

.title span {
	color: #f09c96;
}

/*-------------------------HEADER-------------------------*/
.page-header {
	background: #023a15;
	padding-top: 90px;
	padding-bottom: 147px;
}

.page-header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}

.main-nav__list {
	display: flex;
	list-style: none;
}

.main-nav__item {
	margin: 0 30px 0 0;
}

.main-nav__item:last-child {
	margin: 0;
}

.main-nav__link {
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	font-weight: 500;
}

.logo__image {
	line-height: 0;
}

.header-content {
	display: flex;
}

.header-content__left,
.header-content__right {
	width: 648px;
	max-width: 100%;
}

.header-content__title {
	margin-bottom: 40px;
}

.header-content__btn {
	margin-bottom: 30px;
}

.img-wrapper {
	position: relative;
	height: 100%;
}

.img-wrapper__coffee,
.img-wrapper__salad,
.img-wrapper__line {
	font-size: 0;
	line-height: 0;
	position: absolute;
	max-width: 100%;
}

.img-wrapper__coffee img,
.img-wrapper__salad img {
	width: 322px;
	height: auto;
}

.img-wrapper__coffee::after,
.img-wrapper__salad::after {
	content: "";
	display: block;
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	position: absolute;
}

.img-wrapper__coffee::after {
	background-image: url(../img/avatar-woman.jpg);
	top: -30px;
	left: -30px;
}

.img-wrapper__salad::after {
	background-image: url(../img/avatar-man.jpg);
	top: -30px;
	left: -30px;
}

.img-wrapper__coffee {
	top: 30px;
	left: 85px;
	z-index: 2;
}

.img-wrapper__salad {
	bottom: -80px;
	right: 0;
	z-index: 2;
}

.img-wrapper__line {
	left: 76px;
	top: 20px;
	z-index: 1;
}
.img-wrapper__line img {
	max-width: 100%;
	height: auto;
}
@media (max-width: 1200px) {
	.header-content__left,
	.header-content__right {
		width: 100%;
	}
	.header-content__left {
		text-align: center;
		margin-bottom: 25px;
	}

	.header-content {
		display: flex;
		flex-direction: column;
	}
	.img-wrapper__coffee,
	.img-wrapper__salad {
		position: static;
		text-align: center;
	}
	.img-wrapper > div + div {
		margin-top: 25px;
	}
	.img-wrapper__line {
		display: none;
	}

	.img-wrapper__coffee::after,
	.img-wrapper__salad::after {
		display: none;
	}
	.img-wrapper__coffee img,
	.img-wrapper__salad img {
		max-width: 100%;
	}
}
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__body {
	height: 80px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	z-index: 2;
}

.header__list li {
	margin-left: 20px;
}

.header__link {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.header__logo {
	z-index: 3;
}

.header__logo img {
	max-width: 100%;
	display: block;
}

.content {
	margin-top: 100px;
}

.content__text {
	font-size: 16px;
	line-height: 25px;
}

.content__text p {
	margin-bottom: 20px;
}

.header__burger {
	display: none;
}
@media (max-width: 767px) {
	.page-header {
		padding-bottom: 50px;
	}
	.header {
		position: fixed;
	}
	body.lock {
		overflow: hidden;
	}
	.header::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #d1521f;
		z-index: 2;
	}
	.header__link {
		font-size: 24px;
	}

	.content {
		margin-top: 70px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #86b518;
		padding: 70px 10px 20px 10px;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__burger.active::before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}
}

/*-------------------------ABOUT-------------------------*/
.about {
	padding: 120px 0 0 0;
}

.about-content__left {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.about-content__right {
	display: flex;
	align-items: center;
	width: 50%;
	padding-left: 94px;
}

.about__title {
	font-family: "GT Super Display Super", sans-serif;
	font-size: 66px;
	line-height: 84px;
	color: #000;
	margin-bottom: 35px;
}

.about__text {
	width: 100%;
	max-width: 495px;
	margin-bottom: 127px;
}

.about__image {
	font-size: 0;
	line-height: 0;
}

.about__image img {
	margin-bottom: -55px;
	max-width: 100%;
	height: auto;
}

.about-content__column {
	display: flex;
}

.about__column--pink {
	text-align: center;
	padding-top: 180px;
	background-color: #ffe6e2;
}

.about-content__column--pink {
	align-items: center;
	flex-direction: column;
}

.about__title--pink {
	width: 100%;
	max-width: 720px;
	margin-bottom: 40px;
}

.about__text--pink {
	width: 100%;
	max-width: 540px;
	margin-bottom: 80px;
}

.about__image--pink {
	margin-bottom: -120px;
	padding: 0 15px;
}
@media (max-width: 1440px) {
	.about__image--pink {
		width: 650px;
	}
}
@media (max-width: 992px) {
	.about {
		padding: 60px 0 0 0;
	}
	.about__image--pink {
		max-width: 550px;
		width: 100%;
	}
	.about__title {
		font-size: 40px;
		line-height: 50px;
	}
}
@media (max-width: 767px) {
	.about {
		padding: 30px 0 0 0;
	}
	.about-content__column {
		flex-direction: column;
	}
	.about-content__left {
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
	}
	.about-content__right {
		width: 100%;
		padding-left: 0;
		justify-content: center;
	}
	.about__column--pink {
		padding-top: 100px;
	}
	.about__text {
		font-size: 16px;
		margin-bottom: 20px;
		max-width: 100%;
	}

	.about__title {
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 15px;
	}
	.about__title--pink {
		margin-bottom: 15px;
	}
}
/*-------------------------ADVANTAGE-------------------------*/

.advantage {
	padding: 180px 0 64px 0;
}

.advantage__img {
	font-size: 0;
	line-height: 0;
}

.advantage__img img {
	max-width: 100%;
	height: auto;
}
.advantage__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.advantage__title {
	font-family: "GT Super Display Super", sans-serif;
	font-size: 53px;
	line-height: 72px;
	margin-bottom: 16px;
}

.advantage__text {
	width: 100%;
	max-width: 375px;
}

.advantage__row--celebrate {
	flex-direction: row-reverse;
}

.advantage__description {
	padding: 0 0 0 20px;
}

.advantage__description--celebrate {
	padding: 0 20px 0 0;
}
@media (max-width: 1200px) {
	.advantage__description {
		padding: 0;
	}
}
@media (max-width: 992px) {
	.advantage__description,
	.advantage__img {
		width: 50%;
	}
	.advantage__title {
		font-size: 40px;
		line-height: 50px;
	}
}
@media (max-width: 767px) {
	.advantage {
		padding: 220px 0 0 0;
	}
	.advantage__row {
		flex-direction: column;
	}
	.advantage__description,
	.advantage__img {
		width: 100%;
		text-align: center;
	}
	.advantage__title {
		font-size: 28px;
		line-height: 30px;
	}
	.advantage__text {
		max-width: 100%;
		font-size: 16px;
	}
}
/*-------------------------FOOTER-------------------------*/
.page-footer {
	padding: 119px 0 32px 0;
	background-color: #023a15;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.page-footer__btn {
	margin-bottom: 13px;
}

.page-footer__wrapper {
	width: 100%;
	max-width: 850px;
	margin-bottom: 165px;
	padding: 0 15px;
}

.page-footer__title {
	margin-bottom: 41px;
}

.page-footer__link {
	font-size: 15px;
	line-height: 24px;
	color: #fff;
}
@media (max-width: 1200px) {
	.page-footer {
		padding: 70px 0 20px 0;
	}
	.page-footer__text,
	.page-footer__link {
		font-size: 18px;
		line-height: 1;
	}
}
@media (max-width: 992px) {
	.page-footer {
		padding: 40px 0 20px 0;
	}

	.page-footer__wrapper {
		margin-bottom: 50px;
	}
}
@media (max-width: 767px) {
	.title {
		font-size: 34px;
	}
	.page-footer__title {
		margin-bottom: 25px;
	}
	.page-footer__wrapper {
		margin-bottom: 0;
	}
	.page-footer__text,
	.page-footer__link {
		font-size: 14px;
	}
}
